alabaster==0.7.12
Babel==2.9.1
beautifulsoup4==4.11.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
commonmark==0.9.1
docutils==0.17.1
furo==2022.9.29
idna==3.3
imagesize==1.2.0
Jinja2==3.0.2
Markdown==3.3.4
markdown-it-py==2.1.0
MarkupSafe==2.0.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
myst-parser==0.18.1
packaging==23.0
pandocfilters==1.5.0
Pygments==2.10.0
pyparsing==3.0.1
pytz==2021.3
PyYAML==6.0
requests==2.26.0
snowballstemmer==2.1.0
soupsieve==2.3.2.post1
Sphinx==4.2.0
sphinx-basic-ng==1.0.0b1
sphinx-last-updated-by-git==0.3.4
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing-extensions==4.4.0
urllib3==1.26.7
